In [74]:
import pandas as pd

In [75]:
df=pd.read_excel(r"C:\Users\keshish kumar\Downloads\cik_list.xlsx")
df['SECFNAME'] = 'https://www.sec.gov/Archives/'+df['SECFNAME']

In [61]:
df.head(2)

,CIK,CONAME,FYRMO,FDATE,FORM,SECFNAME
0,3662,SUNBEAM CORP/FL/,199803,1998-03-06,10-K405,https://www.sec.gov/Archives/edgar/data/3662/0...
1,3662,SUNBEAM CORP/FL/,199805,1998-05-15,10-Q,https://www.sec.gov/Archives/edgar/data/3662/0...

In [62]:
df.shape

(152, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
CIK         152 non-null int64
CONAME      152 non-null object
FYRMO       152 non-null int64
FDATE       152 non-null datetime64[ns]
FORM        152 non-null object
SECFNAME    152 non-null object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 7.2+ KB

In [12]:
df.head()

,CIK,CONAME,FYRMO,FDATE,FORM,SECFNAME
0,3662,SUNBEAM CORP/FL/,199803,1998-03-06,10-K405,https://www.sec.gov/Archives/edgar/data/3662/0...
1,3662,SUNBEAM CORP/FL/,199805,1998-05-15,10-Q,https://www.sec.gov/Archives/edgar/data/3662/0...
2,3662,SUNBEAM CORP/FL/,199808,1998-08-13,NT 10-Q,https://www.sec.gov/Archives/edgar/data/3662/0...
3,3662,SUNBEAM CORP/FL/,199811,1998-11-12,10-K/A,https://www.sec.gov/Archives/edgar/data/3662/0...
4,3662,SUNBEAM CORP/FL/,199811,1998-11-16,NT 10-Q,https://www.sec.gov/Archives/edgar/data/3662/0...

In [83]:
import urlparse
df = pd.DataFrame(urls, columns=['SECFNAME'])
df.['SECFNAME']= [urlparse.parse_qs(urlparse.urlparse(url).query) for url in urls]
df.['SECFNAME']

IndentationError: unexpected indent (<ipython-input-83-3e577c5ed4a6>, line 3)

In [63]:
df.describe()

                CIK          FYRMO
count    152.000000     152.000000
mean    5861.605263  200220.750000
std     2310.633436     429.991117
min     3662.000000  199402.000000
25%     4447.000000  199906.000000
50%     5907.000000  200101.500000
75%     6201.000000  200605.500000
max    12239.000000  201407.000000

In [17]:
df.duplicated().sum()

0

In [98]:
df['SECFNAME']=df['SECFNAME'].apply(lambda x:re.split('https:\/\/.*',str(x))[0])

In [99]:
df['SECFNAME']

0
1
2
3
4
      ..
147
148
149
150
151
Name: SECFNAME, Length: 152, dtype: object

In [65]:
df['SECFNAME']

0
1
2
3
4
      ..
147
148
149
150
151
Name: SECFNAME, Length: 152, dtype: object

In [100]:
df.isnull().sum()

CIK         0
CONAME      0
FYRMO       0
FDATE       0
FORM        0
SECFNAME    0
dtype: int64

In [101]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\keshish
[nltk_data]     kumar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [102]:
stopwords=nltk.corpus.stopwords.words('english')
stopwords[0:15]

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours']

In [103]:
def remove_stopwords(txt_tokenized):
    txt_clean=[word for word in txt_tokenized if word not in stopwords]
    return txt_clean

In [104]:
df['SECFNAME']=df['SECFNAME'].apply(lambda x:remove_stopwords(x))
df.head()

    CIK            CONAME   FYRMO      FDATE     FORM SECFNAME
0  3662  SUNBEAM CORP/FL/  199803 1998-03-06  10-K405       []
1  3662  SUNBEAM CORP/FL/  199805 1998-05-15     10-Q       []
2  3662  SUNBEAM CORP/FL/  199808 1998-08-13  NT 10-Q       []
3  3662  SUNBEAM CORP/FL/  199811 1998-11-12   10-K/A       []
4  3662  SUNBEAM CORP/FL/  199811 1998-11-16  NT 10-Q       []

In [105]:
df['SECFNAME']

0      []
1      []
2      []
3      []
4      []
       ..
147    []
148    []
149    []
150    []
151    []
Name: SECFNAME, Length: 152, dtype: object

In [ ]:
dataset=pd.read_csv()